# Node modules
/node_modules
/_old_

# Compilation output
/dist
/artifacts
/cache
/types
/coverage

# Hardhat generated configs and env
/.env
/.env.local
.DS_Store
.idea/
.vscode/

# Ignition deployments
/ignition/deployments

# pnpm deploy output
/bundle
